@font-face {
  font-family: 'miltown';
  src: url('miltown.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

*{
  font-family: 'Lobster', miltown, sans-serif;
  background-color: lightblue;
  font-size: 18px;
  text-shadow: 2px 2px #99ccff;
}

/*Header*/
#header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#header-p2{
  background-image: url(../img/salmon.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0px 100px 0px;
}

#header-message{
  text-align: center;
  background: none;
  font-size: 36px;
}

h1{
  color: salmon;
  font-family: 'Lobster', sans-serif, 'miltown';
  float: center;
}

#content{
  margin: 0;
  padding: 150px;

}

/*Process content*/
#paragraph1, #paragraph3{
  clear: left;
}

#img01, #img03{
  float: right;
}

#paragraph2, #paragraph4{
  clear: right;
}

#img02, #img04{
  float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Form Input*/
#hideframe{display: none;}

button{
  background-color: salmon;
}

input[type=text] {
    width: 250px;
    padding: 6px 0px;
    margin: 1px;
    box-sizing: border-box;
    border: 2px solid salmon;
    border-radius: 8px;
    background-color: lightblue;
    background-image: url('../img/frosted-cookie-40px.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 63px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 75%;
}

form {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

table, th, td, tr{
  border:solid black 1px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  /*margin: 0 auto;*/
}

table {
  width: 100%;
  max-width: 1000px;
}

td:hover {
  background-color: lightblue;
}

tr:last-child{

}
